
@{
    ViewBag.Title = "Additem";
}

<h2>Additem</h2>

<form action="/Home/Additem" method="post">
    <input type="text" name="Name" placeholder="Enter Item"/><br /><br />
    <input type="text" name="Description" placeholder="Enter Description"/><br /><br />
    <input type="text" name="Quantity" placeholder="Enter Quantity" /><br /><br />
    <input type="text" name="Price" placeholder="Enter Price" /><br /><br />
    <input type="submit" value="Add" /><br /><br />
</form>


